@page
@model Proyecto_NUBE_5.Pages.CompraModel
@{
}
<div class="tex-center">
    <h1 class="display-4">
        Lo sentimos el módulo de pedidos se encuentra en mantenimiento
    </h1>
    <p>
        Escanea este código para más opciones
    </p>
    <img src="https://th.bing.com/th/id/OIP.DS7K6cUDfflv4fUSu6XpbgHaHa?w=161&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" />
</div>